.comment__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comment__form {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  height: 150px;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.profile__icon {
  width: 75px;
  height: 75px;
}

.comment__input {
  width: 60%;
  padding: 10px 0 100px 10px;
}

.send__button {
  height: 50px;
  width: 100px;
}
